node_modules/
.expo/
build/
npm-debug.*
.DS_Store
.vscode/.react/
android/.gradle/
android/app/build/
AppSync.js
aws-exports.js

#awsmobilejs
awsmobilejs/.awsmobile/backend-build
awsmobilejs/\#current-backend-info